{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Justin Zapanta's developer portfolio showcasing expertise in Python, Django, Django Rest Framework, web development.">
    <meta name="keywords" content="Justin Zapanta, Justin Zapanta Portfolio ,Python developer, Django developer, web development, portfolio, Carl Justin Zapanta, Carl Justin Zapanta Portfolio, API development">
    <link rel="canonical" href="https://justinportfolio.pythonanywhere.com">


    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Justin Zapanta</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">

    <style>
       @keyframes pulse-scale {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(0.95);
            }
        }
        .animate-pulse-scale {
            animation: pulse-scale 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
        @keyframes dots {
            0%, 20% {
                content: ".";
            }
            40% {
                content: "..";
            }
            60%, 100% {
                content: "...";
            }
        }
        .animate-dots::after {
            content: "";
            animation: dots 1.5s infinite;
        }
        @media (max-width: 768px) {
            .md\:grid-cols-2 {
                grid-template-columns: 1fr;
            }
            .md\:mb-24 {
                margin-bottom: 1rem;
            }
            .md\:flex {
                display: none;
            }
        }
    </style>
</head>
<body class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto md:px-10 px-4">
    <header class="py-2.5 mx-auto w-full flex md:mb-24 z-50 sticky top-0 bg-white">
        <h1 class="font-roboto flex-1 font-bold text-2xl">Just.<span class="text-sky-500">Dev</span></h1>
        <nav class="h-full my-auto">
            <ul class="flex space-x-6 font-roboto text-lg font-semibold">
                <li><a href="#" class="hidden md:inline">About me</a></li>
                <li><a href="#skills" class="hidden md:inline">Skills</a></li>
                <li><a href="#works" class="hidden md:inline">Works</a></li>
                <li><a href="#contact" class="hidden md:inline">Contact</a></li>
                <li><a href="https://drive.google.com/file/d/1uaq-XdxuBPSVGzXxDLYZx5orDdgRhiSY/view?usp=sharing" target="_blank" class="hidden md:inline text-sky-500 font-bold ">Resume</a></li>
                <li class="md:hidden"><a href="#" onclick="toggleMenu()"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>

    <div id="mobileMenu" class="hidden w-full md:hidden">
        <ul class="flex flex-col space-y-2 font-roboto text-lg font-semibold">
            <li><a href="#">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="https://drive.google.com/file/d/1uaq-XdxuBPSVGzXxDLYZx5orDdgRhiSY/view?usp=sharing" target="_blank" class="text-sky-500 font-bold ">Resume</a></li>

        </ul>
    </div>

    <div class="md:grid md:grid-cols-2 w-full border-b border-gray-200">
        <div class="h-full flex flex-col justify-center">
            <div class="flex justify-center w-full">
                <div>
                    <h1 class="font-oswald font-semibold tracking-tighter text-2xl md:text-4xl mt-10 text-[#1B1B1B]">Hi, I'm <span class="text-sky-500">Carl Justin Zapanta</span></h1>
                    <h1 class="font-oswald font-semibold text-2xl md:text-3xl">
                        <a class="typewrite" data-period="2000" data-type='["Django Developer"]'>
                          <span class="wrap"></span>
                        </a>
                    </h1>

                    <p class="md:text-lg font-roboto md:mt-8 mt-5 text-[#1B1B1B]">Hi! I'm Carl Justin Zapanta, a self-taught Django developer.
                    I have a passion for creating web applications and always strive to improve my skills
                        and learn more. Check out my portfolio to see my work and the projects I’ve been working on.
                    </p>

                    <div class="flex flex-wrap space-x-5 mt-5 md:mt-7 md:mb-0 mb-6">
                        <a href="#contact" class="mb-2">
                            <button class="px-7 text-white py-2.5 bg-[#0D1A26] hover:bg-black md:text-xl font-oswald font-bold rounded-lg">
                                <i class="fas fa-envelope"></i> Email Me</button>
                        </a>

                        <a href="#works" class="h-full mb-2">
                            <div class="h-full flex flex-col justify-center my-auto mt-0.5 md:mt-1">
                                <div class="px-5 py-2 justify-center font-oswald font-bold border hover:bg-slate-100 border-slate-950 rounded-lg ">
                                    <h1 class="">My Works</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="items-center w-full h-[440px] hidden justify-center md:flex ">
            <div class="h-full flex flex-col ">
                <img class="h-[440px]" src="{% static 'img/justin_portfolio.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="w-full mt-12 md:mt-14">
        <div>
            <h1 id="skills" class="text-center font-bold font-oswald text-2xl md:text-3xl">My Skills</h1>
            <div id="" class="flex justify-center mt-7 md:mt-10 md:space-x-4 space-x-2 flex-wrap gap-y-4">
                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg border rounded-xl">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="">
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="md:h-16 md:w-16 h-12 w-12" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="md:h-16 md:w-16 h-12 w-12" src="https://cdn.jsdelivr.net/npm/devicon@latest/icons/fastapi/fastapi-original.svg" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="md:h-16 md:w-24 h-12 w-16" src="{% static 'img/rest.png' %}" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="md:h-16 md:w-24 h-12 w-16" src="{% static 'img/beautifulsoup.png' %}" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="md:h-20 md:w-20 h-14 w-14 rounded-xl" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="">
                    </div>
                </div>


                <!--responsive-->
                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col md:hidden flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="h-12 w-12" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col md:hidden flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="h-12 w-14" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col md:hidden flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="h-12 w-14" src="https://cdn.jsdelivr.net/npm/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col md:hidden flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="h-16 w-16" src="https://brandslogos.com/wp-content/uploads/thumbs/mysql-logo-vector-1.svg" alt="">
                    </div>
                </div>

                <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col md:hidden flex justify-center border rounded-xl">
                    <div class="w-full flex justify-center">
                        <img class="h-14 w-14" src="https://static-00.iconduck.com/assets.00/postgresql-plain-wordmark-icon-2048x2042-up54u54l.png" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="w-full md:flex hidden justify-center mt-5 space-x-4 flex-wrap gap-y-4">
            <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                <div class="w-full flex justify-center">
                    <img class="h-16 w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" alt="">
                </div>
            </div>

            <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                <div class="w-full flex justify-center">
                    <img class="h-16 w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="">
                </div>
            </div>

            <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                <div class="w-full flex justify-center">
                    <img class="h-16 w-16" src="https://cdn.jsdelivr.net/npm/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="">
                </div>
            </div>

            <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                <div class="w-full flex justify-center">
                    <img class="h-20 w-20" src="https://brandslogos.com/wp-content/uploads/thumbs/mysql-logo-vector-1.svg" alt="">
                </div>
            </div>

            <div class="md:h-24 md:w-24 h-16 w-16 shadow-lg flex-col flex justify-center border rounded-xl">
                <div class="w-full flex justify-center">
                    <img class="h-20 w-20" src="https://static-00.iconduck.com/assets.00/postgresql-plain-wordmark-icon-2048x2042-up54u54l.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="w-full mt-16 md:mt-28">
        <h1 id="works" class="font-bold font-oswald text-2xl md:text-3xl">My Works</h1>

        <!--work 1-->
        <div class="w-full md:grid md:grid-cols-[2fr_1fr] mb-16 md:mb-32 mt-10" data-aos="fade-right" data-aos-duration="750" data-aos-once="true">
            <img src="{% static 'img/zappy.png' %}" class="rounded-2xl w-full md:w-[46rem] border" alt="">

            <div class="w-full font-roboto md:ml-10 h-full flex-col flex justify-center mt-4 md:mt-0" >
                <h1 class="font-bold text-lg md:text-xl text-sky-500">Zappy</h1>
                <h1 class="mt-1 font-bold md:text-base text-sm text-gray-500">Django, <span class="mx-2">Stripe SDK,</span>  HTML5, <span class="ml-2">Tailwindcss</span></h1>

                <div class="flex mt-2 md:mt-4 font-roboto font-bold space-x-6">
                    <a href="https://brian578.pythonanywhere.com/" target="_blank" class="md:text-lg hover:underline hover:underline-offset-2">Live Demo <i class="fas fa-link"></i> </a>
                    <a href="https://github.com/justinzapanta/Zappy" target="_blank" class="hover:underline hover:underline-offset-2 md:text-lg">Github <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>

        <!--work 2 mobile-->
        <div class="w-full md:hidden mb-16 md:mb-32 mt-10" data-aos="fade-left" data-aos-duration="750" data-aos-once="true">
            <img src="{% static 'img/basa_well.png' %}" class="rounded-2xl w-full md:w-[46rem] border" alt="">

            <div class="w-full font-roboto md:ml-10 h-full flex-col flex justify-center mt-4 md:mt-0" >
                <h1 class="font-bold text-lg md:text-xl text-sky-500">Basa Well</h1>
                <h1 class="mt-1 font-bold md:text-base text-sm text-gray-500">Django, <span class="mx-1">MangaDex API,</span>  HTML5, <span class="ml-1">Tailwindcss</span></h1>

                <div class="flex mt-2 md:mt-4 font-roboto font-bold space-x-6">
                    <a href="https://basawell.pythonanywhere.com/" target="_blank" class="md:text-lg hover:underline hover:underline-offset-2">Live Demo <i class="fas fa-link"></i> </a>
                    <a href="https://github.com/justinzapanta/Zappy" target="_blank" class="hover:underline hover:underline-offset-2 md:text-lg">Github <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>

        <!--Work 2-->
        <div class="w-full hidden md:grid md:grid-cols-[1fr_2fr] mb-32" data-aos="fade-left" data-aos-duration="750" data-aos-once="true">
            <div class="w-full font-roboto md:mr-10 h-full flex-col flex justify-center" >
                <h1 class="font-bold text-xl text-sky-500">Basa Well</h1>
                <h1 class="mt-1 font-bold text-gray-500">Django, <span class="mx-2">MangaDex API,</span>  HTML5, <span class="ml-2">Tailwindcss</span></h1>

                <div class="flex mt-4 font-roboto font-bold space-x-6">
                    <a href="https://basawell.pythonanywhere.com/" target="_blank" class="hover:underline hover:underline-offset-2 text-lg">Live Demo <i class="fas fa-link"></i> </a>
                    <a href="https://github.com/justinzapanta/Zappy/" target="_blank" class="hover:underline hover:underline-offset-2 text-lg">Github <i class="fab fa-github"></i></a>
                </div>
            </div>

            <div class="w-full flex justify-end mt-4 md:mt-0">
                <img src="{% static 'img/basa_well.png' %}" class="rounded-2xl w-full md:w-[46rem] border" alt="">
            </div>

        </div>


        <!--Work3-->
        <div class="w-full md:grid md:grid-cols-[2fr_1fr] gap-x-5 mb-24 md:mb-32 mt-10" data-aos="fade-right" data-aos-duration="750" data-aos-once="true">
            <div class="h-96 w-full rounded-2xl border-l border-r border-b border-gray-300 flex flex-col relative">
                <div class="w-full flex">
                    <!--Dropdown-->
                    <div onclick="dropdown(this)" class="h-9 overflow-x-auto hover:bg-gray-50 rounded-tl-2xl flex-1 border border-gray-300 hover:cursor-pointer justify-center flex flex-col px-4">
                        <div class="flex font-roboto overflow-x-auto">
                            <h1 id="display_method" class="text-emerald-600 text-sm mt-1 font-bold">GET:</h1>
                            <h1 id="display_url" class="flex-1 text-sm mt-1 ml-3 line-clamp-1 w-60">/api/ticket</h1>
                            <div id="down_icon">
                                <i class="fas fa-chevron-down text-sm"></i>
                            </div>

                            <div id="up_icon" class="hidden">
                                <i class="fas fa-chevron-up text-sm hidden"></i>
                            </div>
                        </div>
                    </div>


                    <button onclick="send_request()" class="h-9 px-10 rounded-t-2xl bg-sky-500 hover:bg-sky-600 font-bold font-roboto text-white border-t border-b rounded-tl-none border-gray-300">Send</button>
                </div>

                <div class="h-full w-full relative">
                    <!--Options-->
                    <div id="url_dropdown" class="hidden z-20 w-full overflow-y-auto h-52 px-2 py-2 bg-white  shadow-lg border space-y-1 rounded-b-xl absolute top-0">
                        <div onclick="selected(this)" index="0" class="w-full flex bg-gray-200 py-1.5 font-roboto hover:cursor-pointer px-3 rounded-md options">
                            <h1 id="h1-0" class="text-emerald-600 text-sm font-bold">GET:</h1>
                            <h1 id="h2-0" class="flex-1 ml-3 text-sm font-roboto">/api/ticket</h1>
                        </div>

                        <div onclick="selected(this)" index="1" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-1" class="text-blue-500 text-sm font-bold">POST:</h1>
                            <h1 id="h2-1" class="flex-1 ml-3 text-sm font-roboto">/api/ticket</h1>
                        </div>

                        <div onclick="selected(this)" index="2" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-2" class="text-yellow-500 text-sm font-bold">PUT:</h1>
                            <h1 id="h2-2" class="flex-1 ml-3 text-sm font-roboto">/api/ticket/{id}</h1>
                        </div>

                        <div onclick="selected(this)" index="3" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-3" class="text-red-500 text-sm font-bold">DELETE:</h1>
                            <h1 id="h2-3" class="flex-1 ml-3 text-sm font-roboto">/api/ticket/{id}</h1>
                        </div>

                        <div onclick="selected(this)" index="4" class="w-full flex py-1.5 font-roboto hover:bg-gray-100 hover:cursor-pointer px-3 rounded-md options">
                            <h1 id="h1-4" class="text-emerald-600 text-sm font-bold">GET:</h1>
                            <h1 id="h2-4" class="flex-1 ml-3 text-sm font-roboto">/api/agent</h1>
                        </div>

                        <div onclick="selected(this)" index="5" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-5" class="text-blue-500 text-sm font-bold">POST:</h1>
                            <h1 id="h2-5" class="flex-1 ml-3 text-sm font-roboto">/api/agent</h1>
                        </div>

                        <div onclick="selected(this)" index="6" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-6" class="text-yellow-500 text-sm font-bold">PUT:</h1>
                            <h1 id="h2-6" class="flex-1 ml-3 text-sm font-roboto">/api/agent/{id}</h1>
                        </div>

                        <div onclick="selected(this)" index="7" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-7" class="text-red-500 text-sm font-bold">DELETE:</h1>
                            <h1 id="h2-7" class="flex-1 ml-3 text-sm font-roboto">/api/agent/{id}</h1>
                        </div>

                        <div onclick="selected(this)" index="8" class="w-full flex py-1.5 hover:cursor-pointer font-roboto hover:bg-gray-100 px-3 rounded-md options">
                            <h1 id="h1-8" class="text-emerald-600 text-sm font-bold">GET:</h1>
                            <h1 id="h2-8" class="flex-1 ml-3 text-sm font-roboto">/api/ticket/assigned</h1>
                        </div>
                    </div>

                    <!--Menu-->
                    <div class="font-roboto px-4 flex space-x-5 mt-2">
                        <h1 onclick="show_response(this)" id="response_button" class="text-sm font-roboto hover:cursor-pointer font-bold hover:underline hover:underline-offset-2">Response</h1>
                        <a onclick="show_params(this)" id="params_button" class="text-sm hover:cursor-pointer hover:underline hover:underline-offset-2">Params</a>
                        <a onclick="show_body(this)" id="body_button" class="text-sm hover:cursor-pointer hover:underline hover:underline-offset-2">Body</a>

                        <a onclick="show_putModal()" id="change_id_button" class="text-sm hover:cursor-pointer hover:underline hover:underline-offset-2">Change ID</a>
                    </div>

                    <!--params body-->
                        <div id="params_body" class="w-full h-full px-4 mt-2 font-roboto hidden">
                            <div class="flex w-full pr-2">
                                <h1 class="text-sm text-gray-500 flex-1">Params Query</h1>
                                <h1 class="text-sm text-gray-500 text-end">Filter Result</h1>
                            </div>
                            <div id="params_property" class="h-[17.1rem] overflow-y-auto space-y-4 text-sm font-roboto focus:ring-0 focus:ring-gray-300 rounded-md w-full resize-none focus:border-none focus:ring-offset-0 p-3 border-t-gray-300 border-b-gray-300 border-t border-b mt-1" >
                                <div class="grid grid-cols-2">
                                    <div>
                                        <h1 class="font-roboto text-center text-sm ">Field</h1>
                                    </div>

                                    <div>
                                        <h1 class="font-roboto text-center text-sm">Value</h1>
                                    </div>
                                </div>

                                <div class="grid grid-cols-2 gap-6">
                                    <div class="w-full">
                                        <input type="text" class="w-full text-center h-8 rounded-lg border-gray-400 border">
                                    </div>

                                    <div class="w-full">
                                        <input type="text" class="w-full text-center h-8 rounded-lg border-gray-400 border">
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!--response body-->
                    <div id="response_body" class="w-full h-full px-4 mt-2 font-roboto">
                        <h1 class="text-sm text-gray-500">Response</h1>
                        <textarea id="response_textrea" readonly class="h-[17.1rem] text-sm font-roboto focus:ring-0 focus:ring-gray-300 rounded-md w-full resize-none focus:border-none focus:ring-offset-0 p-3 border mt-1" ></textarea>
                    </div>

                    <div class="border-red-500"></div>
                    <!--body body-->
                    <div id="body_body" class="w-full h-full px-4 mt-2 font-roboto hidden">
                        <div class="flex w-full pr-2">
                            <h1 class="text-sm text-gray-500 flex-1">Json</h1>
                            <h1 id="body_guide" class="text-sm text-gray-500 text-end">Create Ticket</h1>
                        </div>
                        <textarea id="body_textrea" class="h-[17.1rem] text-sm font-roboto focus:ring-0 focus:ring-gray-300 rounded-md w-full resize-none focus:border-none focus:ring-offset-0 p-3 border mt-1" ></textarea>
                    </div>
                </div>


                <!--PUT MODAL-->
                <div id="put_modal" class="h-full w-full flex-col hidden justify-center rounded-2xl absolute top-0 left-0 z-30 " style="background-color: rgba(0, 0, 0, 0.247);">
                    <div class="w-full flex justify-center">
                        <div class="w-96 h-52 bg-white rounded-xl shadow-xl flex flex-col justify-center">
                            <h1 class="text-center font-bold font-roboto text-xl mb-2">Ticket ID</h1>
                            <div class="w-full flex justify-center">
                                <div class="flex flex-col">
                                    <input id="input_id" type="text" class="w-64 h-10 pl-1 border border-gray-400 rounded-lg">
                                    <div class="flex w-full justify-center mt-4 space-x-4">
                                        <button onclick="close_putModal()" class="px-10 py-2 border border-gray-400 hover:bg-gray-100 rounded-lg">Close</button>
                                        <button onclick="enter_id()" class="px-10 py-2 border rounded-lg bg-sky-500 hover:bg-sky-600 text-white font-roboto font-bold">Enter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="w-full font-roboto md:ml-10 h-full flex-col flex justify-center">
                <h1 class="font-bold md:text-xl mt-6 md:mt-0 text-sky-500">Ticket API</h1>
                <h1 class="mt-1 font-bold md:text-base text-sm text-gray-500">Django Rest Framework</h1>

                <div class="flex mt-4 font-roboto font-bold space-x-6">
                    <a class="md:text-lg hover:cursor-pointer hover:underline hover:underline-offset-2"> <i class="fas fa-arrow-left"></i> Live Demo </a>
                    <a href="https://github.com/justinzapanta/Portfolio" target="_blank" class="hover:underline hover:underline-offset-2 md:text-lg">Github <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Contact-->
    <div class="md:mt-12 w-full mb-40 font-roboto" data-aos="fade-up" data-aos-duration="750" data-aos-once="true">
        <h1 id="contact" class="font-bold font-oswald text-2xl md:text-4xl text-center">Contact Me</h1>
        <h1 class="font-roboto font-bold text-sky-500 text-lg md:text-2xl text-center mt-3">zapantajustin5@gmail.com</h1>

        <form id="contact_form" onsubmit="submit_email(event)">
            <div class="w-full flex justify-center md:mt-8 mt-5">
                <div class="font-roboto w-full md:w-auto">
                    <div class="flex flex-col md:flex-row md:space-x-10 space-y-4 md:space-y-0">
                        <input required type="text" id="name" placeholder="Name" class="w-full md:w-56 h-10 border-b-2 border-b-gray-400 focus:outline-none focus:ring-0 focus:border-b-sky-600">
                        <input required type="email" id="email" placeholder="Email" class="w-full md:w-56 h-10 border-b-2 border-b-gray-400 focus:outline-none focus:ring-0 focus:border-b-sky-600">
                    </div>

                    <textarea required id="message" placeholder="Message" class="w-full mt-10 min-h-[40px] h-auto border-b-2 border-b-gray-400 focus:outline-none focus:ring-0 focus:border-b-sky-600 resize-none overflow-hidden" oninput="adjustHeight(this)"></textarea>

                    <div class="w-full flex justify-center mt-8">
                        <button type="submit" class="px-10 text-white py-2.5 bg-[#0D1A26] hover:bg-black text-lg font-oswald font-bold rounded-lg">Submit <i class="fas fa-paper-plane ml-1"></i></button>
                    </div>

                    <div class="mt-14 space-x-5 flex justify-center">
                        <a href="https://github.com/justinzapanta">
                            <div class="w-12 h-12 shadow-3xl rounded-full" target="_blank">
                                <img src="https://cdn.jsdelivr.net/npm/devicon@latest/icons/github/github-original.svg" class="object-cover w-full h-full" alt="">
                            </div>
                        </a>

                        <a href="https://www.linkedin.com/in/justin-zapanta-4451a91ab/" target="_blank">
                            <div class="w-12 h-12 shadow-3xl rounded-full">
                                <img src="https://cdn.jsdelivr.net/npm/devicon@latest/icons/linkedin/linkedin-original.svg" class="object-cover w-full h-full" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--loadign-->
    <div id="loading_screen" class="w-full h-full fixed top-0 z-50 left-0 flex hidden flex-col justify-center">
        <div class="flex justify-center">
            <div class="flex bg-white px-10 py-2 border rounded-2xl shadow-lg">
                <div class="animate-pulse-scale">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-sky-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </div>
                <div class=" flex flex-col h-full justify-center">
                    <div class="text-sky-500 text-xl font-semibold tracking-wide animate-dots font-roboto">
                        Sending
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Success modal-->
    <div id="success_modal" class="w-full h-full fixed  top-0 z-50 left-0 flex hidden flex-col justify-center">
        <div class="flex justify-center">
            <div class="flex bg-white px-10 py-8 border rounded-2xl shadow-lg font-roboto relative">
                <a onclick="close_success_modal()" class="text-lg font-bold absolute top-3 right-3 text-gray-600 cursor-pointer">X</a>
                <div>
                    <div class="w-full flex justify-center">
                        <i class="fa fa-circle-check text-center text-4xl md:text-6xl mb-6 text-emerald-500"></i>
                    </div>
                    <h1 class="text-center mb-4 font-roboto text-lg md:text-2xl">Thank you for reaching out!</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('mobileMenu');
            menu.classList.toggle('hidden');
        }

        function adjustHeight(el) {
            el.style.height = 'auto';
            el.style.height = (el.scrollHeight) + 'px';
        }

        AOS.init();
    </script>
</body>
</html>